/* Global Style */

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
  
body {
    margin: 0;
    padding: 0;
}
  
a {
    text-decoration: none;
    color: inherit;
}

/* Header's Style */

header {
    background-color: #1c1c1c;
    color: #fff;
    padding: 1rem;
}
  
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
nav a {
    font-weight: 500;
}

.people-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 2rem;
}


.vote-box {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.vote-box:hover {
    transform: translateY(-0.5rem);
}
  
.vote-box i {
    font-size: 3rem;
    margin-bottom: 1rem;
}
  
.vote-box h3 {
    font-size: 1.5rem;
}

/* Map's Style*/

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

iframe {
    width: 400px;
    height: 300px;
}

/* Footer's Style */
  
footer {
    background-color: #1c1c1c;
    color: #fff;
    padding: 1rem;
    text-align: left;
    line-height: 0.5em;
}

.disclaimer h5 {
    line-height: 0.2em;
}

/* Responsive Design */
  
@media (max-width: 940px) {

    .people-grid {
      grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 695px) {

    .people-grid {
      grid-template-columns: repeat(2, 1fr);
    }
}
  
@media (max-width: 448px) {

    .people-grid {
      grid-template-columns: repeat(1, 1fr);
    }
}

 